# API Framework
fastapi>=0.103.0
uvicorn>=0.23.2
pydantic>=2.3.0
pydantic-settings>=2.0.3

# Database
sqlmodel>=0.0.8
sqlalchemy>=2.0.20
psycopg2-binary>=2.9.7

# Crypto
ecdsa>=0.18.0
mnemonic>=0.20

# Utils
loguru>=0.7.0
python-dotenv>=1.0.0